{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 18:59:40 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "person",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "areaCode": "212",
        "quantity": 1
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json",
        "MS-CV": "4\u002BfNeDvtw0i57B4pw\u002Bu9Mw.0",
        "X-Processing-Time": "1378ms"
      },
      "ResponseBody": {
        "error": {
          "code": "InternalError",
          "message": "The server encountered an internal error.",
          "innererror": {
            "code": "BadRequest",
            "message": "We are unable to find phone plans to match your requested capabilities."
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2117212214"
  }
}
