{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 18:57:33 GMT"
      },
      "RequestBody": {
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Location": "Sanitized",
        "MS-CV": "NXX1XlMrP0\u002B9hpBZ7HRZQA.0",
        "operation-id": "search_8b145173-dfa1-4cb8-9524-37a5fc666856",
        "Operation-Location": "/phoneNumbers/operations/search_8b145173-dfa1-4cb8-9524-37a5fc666856?api-version=2022-12-01",
        "search-id": "8b145173-dfa1-4cb8-9524-37a5fc666856",
        "X-Processing-Time": "3415ms"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/operations/search_8b145173-dfa1-4cb8-9524-37a5fc666856?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 18:57:39 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "Sanitized",
        "MS-CV": "aJGNBl00PU\u002BlPevUccTTJg.0",
        "X-Processing-Time": "836ms"
      },
      "ResponseBody": {
        "operationType": "search",
        "status": "succeeded",
        "resourceLocation": "/availablePhoneNumbers/searchResults/8b145173-dfa1-4cb8-9524-37a5fc666856?api-version=2022-12-01",
        "createdDateTime": "2022-12-07T18:57:36.5133376\u002B00:00",
        "id": "search_8b145173-dfa1-4cb8-9524-37a5fc666856",
        "lastActionDateTime": "0001-01-01T00:00:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/searchResults/8b145173-dfa1-4cb8-9524-37a5fc666856?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 18:57:40 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xMFDkS\u002BJvESLP0tVcv35WQ.0",
        "X-Processing-Time": "868ms"
      },
      "ResponseBody": {
        "searchId": "8b145173-dfa1-4cb8-9524-37a5fc666856",
        "phoneNumbers": [
          "Sanitized"
        ],
        "phoneNumberType": "tollFree",
        "assignmentType": "application",
        "capabilities": {
          "calling": "outbound",
          "sms": "none"
        },
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        },
        "searchExpiresBy": "2022-12-07T19:13:38.5338196\u002B00:00"
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1614170827"
  }
}
