{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/availablePhoneNumbers/countries?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 18:57:44 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "oBhxLIqyVEOokhsA5xADxw.0",
        "X-Processing-Time": "2993ms"
      },
      "ResponseBody": {
        "countries": [
          {
            "localizedName": "Canada",
            "countryCode": "CA"
          },
          {
            "localizedName": "Denmark",
            "countryCode": "DK"
          },
          {
            "localizedName": "Ireland",
            "countryCode": "IE"
          },
          {
            "localizedName": "Italy",
            "countryCode": "IT"
          },
          {
            "localizedName": "Puerto Rico",
            "countryCode": "PR"
          },
          {
            "localizedName": "Sweden",
            "countryCode": "SE"
          },
          {
            "localizedName": "United Kingdom",
            "countryCode": "GB"
          },
          {
            "localizedName": "United States",
            "countryCode": "US"
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1011282298"
  }
}
