{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/phoneNumbers/Sanitized/capabilities?api-version=2022-12-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 18:58:50 GMT"
      },
      "RequestBody": {},
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01",
        "Content-Type": "application/json",
        "MS-CV": "4T8sYG53j0\u002Bubu3QHSKWAQ.0",
        "X-Processing-Time": "35ms"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingInput",
          "message": "At least one of Sms or Calling must exist.",
          "target": "phonenumbercapabilitiesrequest"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1962403233"
  }
}
